body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 8px;
}
ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
  }
  .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    display: flex;
  }
  .right,.left{
    display: flex;
    align-items: center;
  }
  .hero{
    background-color: #1F2937;
    display: flex;
    padding: 20px;
  }
  .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }  
  .main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
  }
  .other-text,ul{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
  }
.boton{
  background: #3882F6;
  color: #E5E7EB;
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}
.title{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  display: flex;
  justify-content: center;
  padding: 36px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 52px;
  padding: 36px;
}
.random{
  max-width: 200px;
}
.info img {
  width: 100px;
  height: 100px;
}
.quote-container{
  background-color: #E5E7EB;
  padding: 36px;
  display: flex;
  flex-direction: column;
}
.quote{
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  flex: 1;
}
.who-said{
  font-weight: bold;
  display: flex;
  align-self: flex-end;
  font-size: 18px;
}